doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Home
    body
        main
            if user
                - const name = user.name.split(" ")[0]
                h1 hello #{name}
                div
                    ul 
                        each val in user.contacts 
                            li.item(data-id=val.id) #{val.name}    #{val.number}  <a href="#">more</a>  
                hr
                button logout 
            else 
                h1 Login/Sign up to continue...
                a(href="/user/register") sign up
                br
                a(href="/user/login")  sign in
